body {
  margin: 0;
  overflow-x: hidden;
  text-align: center;
  font-family: 'Gowun Batang', serif;
  background-color: #C8C6C6;
  color: #F7F6F2;
  font-family: 'Merriweather', serif;
  height: 100%;
  position: relative;
  }
  
.content {  
  min-height: 100vh;
  position: relative;
  display: block;
  height: auto;
  padding-bottom: 10rem;
}

  body::-webkit-scrollbar {
    width: 8px;               
  }
  
  body::-webkit-scrollbar-track {
    background: white;       
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: #091353;   
    border-radius: 20px;       
    border: 3px solid #091353;  
  }

  h1 {
    font-size: 4rem;
    color: #091353;
    font-weight: bold;
    font-family: 'Merriweather', serif;
  }
  
  p {
    font-weight: bold;
    font-family: 'Merriweather', serif;
  }
  
  h2 {
    font-size: 2.5rem;
    color: #091353;
    font-weight: bold;
    font-family: 'Merriweather', serif;
  }
  
  /* a {
    color: #F0E5CF;
  } */
  
  h3 {
    font-size: 2rem;
    color: #091353;
    font-weight: bold;
    font-family: 'Merriweather', serif;
  }
  
  hr {
    border-style: solid none none none;
    border-width: 5px;
    width: 70%;
    border-radius: 5px;
    border-color: #091353;
    background-color: transparent;
    margin: auto;
    opacity: 1;
  }

  nav {
    background-color: #091353;
    font-size: 1.25rem;
  }
  
  nav a  {
    color: #F0E5CF;
  }
  
  .navbar a {
    color: #F0E5CF;
  }
  
  .navbar a:hover {
    color: #C8C6C6;
  }

  .main-logo {
        float: left;
        margin-left: 30px;
        font-size: 20px;
  }

    .top-margin {
        margin-bottom: 30px;
      }

    .cart {
        float: right;
        font-size: 20px;
        color: white;
        position: absolute;
    }
    .underlineEffects a {
        color: #F0E5CF;
        position: relative;
      }
      
    .underlineEffects .active {
        color: #F0E5CF;
    }
      
    .underlineEffects a:after {
        background: none repeat scroll 0 0 transparent;
        bottom: 0;
        content: "";
        display: block;
        height: 2px;
        left: 50%;
        position: absolute;
        background: #F0E5CF;
        transition: width 0.3s ease 0s, left 0.3s ease 0s;
        width: 0;
    }
      
    .underlineEffects a:hover:after {
        width: 100%;
        left: 0;
    }


    .nav-toggler {
      color: white;
    }
    
    .middle {
        float: none;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      .right {
          float: right;
          margin-right: 15px;
      }




      /**** Home Page ****/
      .top-container {
        width: 90%;
        margin: auto;
        
      }

      .title {
        margin: auto;
        animation-name: fadeIn;
        animation-duration: 1s;
      }

      .subtitle {
        opacity: 0;
        animation-fill-mode: forwards;
        margin: auto;
        animation-name: fadeIn;
        animation-delay: 1s;
        animation-duration: .5s;
      }

      .subtitle2 {
        opacity: 0;
        animation-fill-mode: forwards;
        margin: auto;
        animation-name: fadeIn;
        animation-delay: 1.5s;
        animation-duration: .5s;
      }

      .subtitle3 {
        opacity: 0;
        animation-fill-mode: forwards;
        margin: auto;
        animation-name: fadeIn;
        animation-delay: 2s;
        animation-duration: .5s;
      }

      .subtitle4 {
        opacity: 0;
        animation-fill-mode: forwards;
        margin: auto;
        animation-name: fadeIn;
        animation-delay: 2.5s;
        animation-duration: .75s;
      }

      @keyframes fadeIn {
        0% {opacity: 0;}
        25% {opacity: .25;}
        50% {opacity: .5;}
        75% {opacity: .75;}
        100% {opacity: 1;}
      }

      .top-hr {
        margin-top: 40px;
        opacity: 0;
        animation-fill-mode: forwards;
        animation-name: fadeIn;
        animation-duration: 1s;
        animation-delay: 3.25s;
      }

      .middle-container {
        padding-top: 40px;
        padding-bottom: 100px;
        opacity: 0;
        animation-fill-mode: forwards;
        animation-name: fadeIn;
        animation-duration: 1s;
        animation-delay: 3.25s;
      }
      .shop-pics {
        opacity: 1;
        width: 100%;
        height: auto;
        transition: .5s ease;
        backface-visibility: hidden;
        box-shadow: 6px 10px 12px 1px rgba(0, 0, 0, .3);
      }

      .shop-heading {
        font-size: 1.5rem;
        text-decoration: none;
      }

      .image-container {
        position: relative;
      }


      .image-container .middle-images {
        transition: 0.5 ease;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        color: white;
        background-color: #091353;
        font-size: 16px;
        padding: 12px 24px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        border-radius: 5px;
        opacity: 0;
        text-align: center;
      }
      .image-container:hover .shop-pics {
        opacity: 0.3;
      }
      
      .image-container:hover .middle-images {
        opacity: 1;
      }

      .middle-bottom-container {
        opacity: 0;
        animation-fill-mode: forwards;
        animation-name: fadeIn;
        animation-duration: 1s;
        animation-delay:3.25s;
        width: 80%;
        margin: auto;
      }

      .mission-img {
        width: 100%;
        float: left;
        height: auto;

      }

      .mission-text {
        text-align: justify;
        font-size: 1.1rem;
        color: #091353;

      }

      .bottom-container {
        background-color: #091353;
        margin: auto;
        width: 100%;
        bottom: 0;
        position: absolute;
        height: 10rem;
      }

      
      .footer-link {
        display: inline-block;
        position: relative;
        padding: 20px;
        color: #F0E5CF;
        font-size: 2rem;
        text-decoration: none;
      }
      
      .footer-link:hover {
        color: #F0E5CF;
      }
      
      .footer-link:after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: #F0E5CF;
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
      }
      
      .footer-link:hover:after {
        transform: scaleX(1);
        transform-origin: bottom left;
      }
      
      .links-home {
        margin: 20px;
      }

      .side-nav-2 {
        height: 100%; 
        width: 20%; 
        position: absolute;
        background-color: #091353;
        display: none;
        animation-duration: 2s;
        animation-fill-mode: forwards;
        padding-bottom: 10rem;
        overflow-y: scroll;
      }

      .side-nav-2::-webkit-scrollbar {
        width: 8px;               
      }
      
      .side-nav-2::-webkit-scrollbar-track {
        background: #091353;       
      }
      
      .side-nav-2::-webkit-scrollbar-thumb {
        background-color: grey;   
        border-radius: 20px;       
        border: 3px solid grey;  
      }

      #close-btn {
        float: right;
        font-size: 1rem;
        background-color: transparent;
        border: none;
        color: white;
      }

      .cart-icon-container {
        width: 100%;
        background-color: #091353;
        height: 30px;
      }

      .total {
        display: inline;
        margin-top: 10px;
      }

      .checkout-btn {
        font-size: .8rem;
        background-color: transparent;
        border: none;
        float: left;
        border-radius: 5px;
        color: white;
        margin-top: 4px;
        padding: 6px;
      }

      .checkout-btn:hover {
        background-color: green;
      }

      .cart-title {
        font-size: .8rem;
        margin-top: 10px;
      }

      #cart-icon-btn {
        background-color: transparent;
        border: none;
        color: #F0E5CF;
        padding-right: 15px;
        font-family: 'Merriweather', serif;
      }
